<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body class="main">

<div class="banner">
Top 10 UK
</div>


<div class="welcome_bar">
  <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
</div>


<div class="content">

<div class = content_box>

  <!--div>
    {{ tracks }}
  </div-->

<div class = track_table>

<div>


  {% for x in tracks['artist'] %}
  {{x}}<br>
  {% endfor %}
<br>
</div>

<div>

  {% for x in tracks['song'] %}
  {{x}}<br>
  {% endfor %}
<br>
</div>

<div>

  {% for x in tracks['popularity'] %}
  {{x}}<br>
  {% endfor %}
<br>
</div>

<div>

  {% for x in tracks['Track ID'] %}
  {{x}}<br>
  {% endfor %}
  <br>
</div>

<!--div>
{% set myList = [1,5,3,4,2] %}
{{ myList[0] }}
{{ myList[1] }}
</div-->
</div>
<!--div class = track_table>
  <div>
{% for artist in artists %}

<b>{{positions}}</b> {{artist}}
<br>

{% endfor %}
</div>

<div>
{% for song in songs %}

<b>Song title:</b> {{song}}
<br>
{% endfor %}
</div>

</div-->
</div>
</div>

{% include 'footer.html' %}

</body>
</html>
